<h1 class="text-center my-4">College Transfer Payment</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if @college_payment.present? %>
        <p>Study Level: <%= @college_payment.study_level %></p>
        <p>Admission Type: <%= @college_payment.admission_type %></p>
        <p>Transfer Fee: <%= @college_payment.transfer_fee %> ETB</p>
        
        <%= form_for @external_transfer, url: payment_external_transfer_path(@external_transfer), method: :patch, html: { multipart: true } do |f| %>
          <div class="form-group">
            <%= f.label :receipt, "Upload Receipt" %>
            <%= f.file_field :receipt, class: "form-control" %>
          </div>
        
          <div class="form-group mt-3">
            <%= f.submit "Submit Receipt", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <p class="text-danger">No payment information available for your current study level and admission type.</p>
      <% end %>
    </div>
  </div>
</div>
