<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #343a40;">
  <!-- Brand Logo -->
  <%= link_to image_tag("logo.jpg", size: "100x75", alt: "logo"), root_path, class: "brand-link d-flex align-items-center justify-content-center", style: "padding: 1rem; text-align: center;" %>

  <!-- Sidebar -->
  <div class="sidebar" style="padding-top: 1rem;">
    <!-- User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag(current_student.photo, size: '160x160', class: "img-circle elevation-2", alt: "User Image", style: "width: 3rem; height: 3rem; object-fit: cover;") if current_student.photo.attached? %>
        <%= image_tag("blank-profile-picture-973460_640.png", size: '160x160', class: "img-circle elevation-2", style: "width: 3rem; height: 3rem; object-fit: cover;") if !current_student.photo.attached? %>
      </div>
      <div class="info" style="padding-left: 1rem;">
        <a href="#" class="d-block" style="color: #ffffff; font-weight: bold;"><%= current_student.name.full %></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Dashboard -->
        <li class="nav-item menu-open">
          <a href="/" class="nav-link <%= current_class?(root_path) %>" style="color: #c2c7d0;">
            <i class="nav-icon fas fa-tachometer-alt" style="color: #adb5bd;"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- Registrations -->
        <li class="nav-item">
          <%= link_to semester_registrations_path, :class => "nav-link #{current_class?(semester_registrations_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-sign-in-alt" style="color: #adb5bd;"></i>
            <p>Registrations</p>
          <%end%>
        </li>
        <!-- Course Offering -->
        <li class="nav-item">
          <a href="<%=courses_path%>" class="nav-link <%= current_class?(courses_path) %>" style="color: #c2c7d0;">
            <i class="nav-icon fas fa-book" style="color: #adb5bd;"></i>
            <p>Course Offering</p>
          </a>
        </li>
        <!-- Class Schedule -->
<li class="nav-item">
  <%= link_to class_schedules_path, class: "nav-link #{current_class?(class_schedules_path)}", style: "color: #c2c7d0;" do %>
    <i class="nav-icon fas fa-calendar" style="color: #adb5bd;"></i>
    <p>Class Schedule</p>
  <% end %>
</li>

        <!-- Add Course -->
        <li class="nav-item">
          <a href="<%=add_courses_path%>" class="nav-link <%= current_class?(add_courses_path) %>" style="color: #c2c7d0;">
            <i class="nav-icon fas fa-plus" style="color: #adb5bd;"></i>
            <p>Add Course</p>
          </a>
        </li>
        <!-- Drop Course -->
        <li class="nav-item">
          <a href="<%= drop_courses_path%>" class="nav-link <%= current_class?(drop_courses_path) %>" style="color: #c2c7d0;">
            <i class="nav-icon fas fa-folder-minus" style="color: #adb5bd;"></i>
            <p>Drop Course</p>
          </a>
        </li>
        <!-- Payments -->
        <li class="nav-item">
          <%= link_to invoices_path, class: "nav-link #{current_class?(invoices_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-file-invoice" style="color: #adb5bd;"></i>
            <p>Payments</p>
          <%end%>
        </li>
        <!-- Profile -->
        <li class="nav-item">
          <%= link_to profile_path, class: "nav-link  #{current_class?(profile_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-users" style="color: #adb5bd;"></i>
            <p>Profile</p>
          <%end%>
        </li>
        <!-- Grade Report -->
        <li class="nav-item">
          <%= link_to grade_reports_path, class: "nav-link #{current_class?(grade_reports_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-columns" style="color: #adb5bd;"></i>
            <p>Grade Report</p>
          <%end%>
        </li>
        <!-- Documents -->
        <li class="nav-item">
          <%= link_to documents_path, class: "nav-link #{current_class?(documents_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-file-word" style="color: #adb5bd;"></i>
            <p>Documents</p>
          <%end%>
        </li>
        <!-- Request Makeup Exam -->
        <li class="nav-item">
          <%= link_to new_makeup_exam_path, class: "nav-link #{current_class?(new_makeup_exam_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-edit" style="color: #adb5bd;"></i>
            <p>Request Makeup Exam</p>
          <% end %>
        </li>
        <!-- Request Transfer -->
        <li class="nav-item">
          <%= link_to new_transfer_path, class: "nav-link #{current_class?(new_transfer_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-edit" style="color: #adb5bd;"></i>
            <p>Request Transfer</p>
          <% end %>
        </li>
        <!-- Request Withdrawal / Clearance -->
        <li class="nav-item">
          <%= link_to new_withdrawal_path, class: "nav-link #{current_class?(new_withdrawal_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-edit" style="color: #adb5bd;"></i>
            <p>Request Withdrawal / Clearance</p>
          <% end %>
        </li>
        <!-- Notices -->
        <li class="nav-item">
          <%= link_to new_readmission_path, class: "nav-link #{current_class?(new_readmission_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-bullhorn" style="color: #adb5bd;"></i>
            <p>Readmission</p>
          <% end %>
        </li>
        <!-- Notices -->
        <li class="nav-item">
          <%= link_to notices_path, class: "nav-link #{current_class?(notices_path)}", style: "color: #c2c7d0;" do %>
            <i class="nav-icon fas fa-bullhorn" style="color: #adb5bd;"></i>
            <p>Notices</p>
          <% end %>
        </li>
        <!-- Logout -->
        <li class="nav-item">
          <%= link_to destroy_student_session_path, method: :delete, class: "nav-link", style: "color: #c2c7d0;" do%>
            <i class="nav-icon fas fa-sign-out-alt" style="color: #adb5bd;"></i>
            <p>Logout</p>
          <%end%>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
